html, body {
  height: 100%;
}

.question span {
  background-color: navy;
  padding: 5px 12px 5px 12px;
}

.question {
  border-radius: 25px;
  padding: 2px 5px 2px 5px;
  max-width: 80%;
  text-align: left;
  color: white;
  margin-left: 0;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: large;
}

.answer span {
  background-color: #89CFF0;
  padding: 5px 12px 5px 12px;
}

.answer {
  border-radius: 25px;
  padding: 2px 5px 2px 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  color: navy;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: large;
}

.dialogueBox {
  position: absolute;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 769px) {

  .header {
    width: 30%;
    box-sizing: border-box;
    margin: 0 auto;
    border: 0;
    border-style: solid;
    border-style: hidden solid solid solid;
  }

  .conversation {
    height: 100%;
    width: 30%;
    right: 50%;
    box-sizing: border-box;
    overflow-y: scroll;
    margin: 0 auto;
    border: 1;
    border-style: solid;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .input {
    bottom: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 30%;
    right: 50%;
    border: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #89CFF0;
    border-style: hidden solid solid solid;
  }
}

@media only screen and (max-width: 768px) {

  .header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: 0;
  }
  
  .conversation {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .input {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #89CFF0;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
}


header {
  background-color: navy;
  color: white;
  display: flex;
  align-items: center;
  font-size: larger;
}

img {
  border-radius: 25px;
  display: inline-block;
  margin: 10px;
}

.name {
  justify-content: center;
  display: flex;
  padding-left: 2.5%;
  margin: 0;
  font-size: larger;
}
