html, body {
  height: 100%;
}

.question span {
  background-color: navy;
  padding: 5px 12px 5px 12px;

}

.question {
  border-radius: 25px;
  padding: 2px 5px 2px 5px;
  max-width: 80%;
  text-align: left;
  color: white;
  margin-left: 0;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 1px;
  margin-bottom: 1px;
}

.answer span {
  background-color: #89CFF0;
  padding: 5px 12px 5px 12px;

}

.answer {
  border-radius: 25px;
  padding: 2px 5px 2px 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  color: navy;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-top: 1px;
  margin-bottom: 1px;
}

.dialogueBox {
  position: absolute;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-right: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;


}

.textInput {
  display: inline-block;
  border-radius: 25px;
  padding: 5px 2px 5px 2px;
  width: 65%;
}

.submitButton {
  display: inline-block;
  border-radius: 25px;
  padding: 5px 2px 5px 2px;
  width: 30%;
}

.monitor {
  height: 100%;
  width: 30%;
  right: 50%;
  box-sizing: border-box;
  overflow-y: scroll;
  margin: 0 auto;
  border: 1;
  border-style: solid;
  padding-bottom: 10px;
}


.monitorInput {
  bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 30%;
  right: 50%;
  border: 1;
  border-style: hidden solid solid solid;
  padding-top: 10px;
  padding-bottom: 10px;
}


.phone {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin: 0 auto;
  border: 0;
  padding-bottom: 10px;
}


.phoneInput {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.buttonBox {
  text-align: center;
}

.buttons {
  flex-wrap: wrap;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 12px 5px 12px;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
}

form {
  text-align: center;
}
